<article
  [attr.aria-label]="ariaLabel()"
  (pic-accessible-event-trigger)="onActivate()"
  class="c-card"
>
  <header class="c-card__header">
    <img
      [ngSrc]="pictogramUrl()"
      [attr.alt]="imageAlt()"
      width="160"
      height="160"
      class="c-card__image"
    />
    <h3 class="c-card__title">{{ title() }}</h3>
  </header>
  <section class="c-card__body">
    <ng-content select="[card-body]" />
  </section>
  <footer class="c-card__footer">
    <ng-content select="[card-footer]" />
  </footer>
</article>
